body
{
    font-family: Arial, Helvetica, sans-serif;
}

/* Start My FrameWork */

.uppercase
{
    text-transform: uppercase;
}


/* End My FrameWork */

/* Start Navbar */
.scrolled
{
    opacity: 0.8;
    background-color: #222;
}

.scrolled a
{
    color: #a7a7a7;
}

.scrolled .active a
{
    color: #fff !important;
    background: #0bb890 !important;
}

.scrolled a:hover
{
    color: #fff !important;
    background: none !important;
}

.nav .navbar-header .navbar-brand
{
    text-transform: uppercase;
    font-weight: bold;
    height: 65px;
    line-height: 34px;
}

.nav .navbar-header .navbar-brand span
{
    font-weight: normal;
    color: #0bb890;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #0bb890 !important;
}

.nav .navbar-collapse .active
{
    background-color: #0bb890;
    
}


.nav .navbar-collapse .navbar-nav a
{
    padding-top: 22px;
    padding-bottom: 22px;
    
}

/* End Navbar */

/* Start Header */


header
{
    background:url("../images/background.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    color: #fff;
}

header .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

header .row
{
    margin-top: 25vh;
}

@media (max-width: 767px) {

    header .row
    {
        margin-top: 0;
    }
}

header .main-info h1
{
    font-size: 60px;
    font-weight: bold;
}

header .main-info h1 span
{
    color: #0bb890;
    font-weight: normal;
}

header .main-info h2
{
    line-height: 28px;
    font-size: 23px;
}

header .main-info h2:after
{
    margin-top: 20px;
    content: " ";
    display: block;
    position: absolute;
    width: 18%;
    height: 2px;
    background-color: #fff;
}

header .main-info p
{
    margin-top: 40px;
    color: #dcdcdc;
    letter-spacing: 1px;
}

header .main-info button
{
    margin-top: 20px;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header .main-info button:hover
{
    background-color: #0bb890;
    border: 1px solid #0bb890;
    border-radius: 2px;
}



header form
{
    width: 360px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

header form h2
{
    font-size: 15px;
    background-color: #e8e8e8;
    padding: 15px;
    color: #222;
    font-weight: bold;
    margin-top: 0;
}

header form h2 span
{
    color: #0bb890;
}

header form .form-control
{
    border-radius: 0;
    outline: none;
    width: 80%;
    margin:30px auto 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: none;
}

header form input[type="submit"]
{
    margin-top: 30px;
    background-color: #0bb890;
    padding: 10px;
    border-radius: 0;
}

header form input:last-child:hover
{
    background-color: #0aa17e;
    color: #fff;
}

/* End Header */

/* Start Social */

.social
{
    border-bottom: 2px solid #e2e2e2;
}

.social p
{
    color: #8c8c8c
}

.social i
{
    margin: 30px 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #d6d6d6
}

.social .fa-facebook:hover
{
    color: #3b5999
}

.social .fa-google-plus:hover
{
    color: #dd4b39
}

.social .fa-twitter:hover
{
    color: #55acee
}

.social .fa-pinterest-p:hover
{
    color: #bd081c
}


.social .fa-instagram:hover
{
    color: #e4405f
}

/* End Social */


/* Start Project's Tab */

.tabs
{
    padding: 80px;
    background-color: #f1f1f1;
}

.tabs ul li
{
    background-color: #737272;
    color: #fff;
    width: 100px;
    height: 91px;
    line-height: 91px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.tabs .selected
{
    background-color: #0bb890
}

.tabs .info-tabs h4
{
    margin-bottom: 30px;
}

.tabs .info-tabs p
{
    margin-bottom: 20px;
}

.tabs .info-tabs button
{
    background-color: #0bb890;
    border: 1px solid #0bb890;
    padding: 7px 20px;
    border-radius: 3px;
    color: #fff;
}

.tabs .info-tabs button:hover
{
    background-color: #0aa17e;
    outline: none;
}

.tabs .info-2,
.tabs .info-3
{
    display: none;
}


/* End Project's Tab */


/* Start Sublist */


.sublist
{
    padding: 80px;
}

.sublist .landscape img
{
    box-shadow: -20px 20px 0px 0px #0bb890;
}

.sublist .sub-info .sublist-heading
{
    margin-bottom: 30px;
}

.sublist .sub-info .sublist-heading:after
{
    display: block;
    content: " ";
    border: 2px solid #0bb890;
    width: 46px;
    height: 2px;
    margin-top: 10px;
}

.sublist .sub-info p
{
    font-size: 16px;
    color: #8e8e8e;
}

.sublist .sub-info .media
{
    margin-top: 40px;
}

.sublist .sub-info .media .media-left i
{
    line-height: 1em;
    color: #0bb890;
}

.sublist .sub-info .media .media-left a:hover i
{
    color: #0aa17e;
}

.sublist .sub-info .media .media-body
{
    padding-left: 20px;
}

/* End Sublist */


/* Start Standard */

.standard
{
    background-color: #f1f1f1;
    padding: 80px;
}

.standard .standard-info .standard-heading
{
    margin-bottom: 30px;
}

.standard .standard-info .standard-heading:after
{
    display: block;
    content: " ";
    border: 2px solid #0bb890;
    width: 46px;
    height: 2px;
    margin-top: 10px;
}

.standard .standard-info p
{
    font-size: 17px;
    color: #737373;
}

.standard .standard-pic img
{
    box-shadow: 20px 20px 0px 0px #009eda;
}


/* End Standard */


/* Start Awesome */


.awesome
{
    padding: 60px;
}

.awesome .awesome-heading
{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.awesome .awesome-heading:after
{
    display: block;
    bottom: -25px;
    content: " ";
    width: 126px;
    height: 2px;
    border: 2px solid #0bb890;
    margin: 25px auto;
}

.awesome h2 ~ p
{
    color: #757575;
    margin-bottom: 80px;
}

.awesome .awe-info i
{
    color: #0bb890;
}

.awesome .awe-info p
{
    color: #737272;
}


/* End Awesome */


/* Start Pricing Tool */

.pricing-option
{
    padding: 80px;
    background-color: #f1f1f1;
}

.pricing-option .pricing-option-heading
{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.pricing-option .pricing-option-heading:after
{
    display: block;
    bottom: -25px;
    content: " ";
    width: 126px;
    height: 2px;
    border: 2px solid #0bb890;
    margin: 25px auto;
}

.pricing-option p
{
    color: #737272;
}

.price-main
{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.price-main:hover
{
    margin-top: -20px;
}

.pricing-option .price-info
{
    background-color: #4c4c4c;
}

.pricing-option .price-info h3
{
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: #4c4c4c;
    border-radius: 3px;
}

.pricing-option .price-info .price
{
    color: #fff;
    font-size: 30px;
    font-family: fantasy;
}

.pricing-option .price-info p
{
    padding: 10px;
    color: #d4d4d4
}


.pricing-option .price-tools
{
    background-color: #ffff;
    margin-top: -10px;
}

.pricing-option .price-tools ul li
{
    padding: 10px;
    border-bottom: 1px solid #ececec;
    color: #676767;
}

.pricing-option .price-tools ul .price-btn
{
    background-color :#0bb890;
    color: #fff;
}
/* End Pricing Tool */


/* Start Customer Saying */


.customer-say
{
    padding: 60px;
}

.customer-say .customer-say-heading
{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.customer-say .customer-say-heading:after
{
    display: block;
    bottom: -25px;
    content: " ";
    width: 126px;
    height: 2px;
    border: 2px solid #0bb890;
    margin: 25px auto;
}

.customer-say .customer-p
{
    color: #737272;
    margin-bottom: 60px;
}


.customer-say .customer-info p
{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    color: #737373;
    position: relative;
    line-height: 1.5;
    margin-bottom: 30px;
}

.customer-say .customer-info p::after
{  
    position: absolute;
    content: " ";
    display: block;
    border-top: 15px solid #f1f1f1;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 0px solid transparent;
    width: 30px;
    bottom: -15px;
    left: 20px;
}

.customer-say .customer-info .media .media-body
{
    vertical-align: middle;
}

.customer-say .customer-info .media span
{
    color: #737272;
}

/* End Customer Saying */



/* Start Stylish */


.stylish
{
    min-height: 400px;
    background-image: url("../images/stylish.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.stylish .overlay
{
    padding: 60px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.stylish .stylish-heading
{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #f1f1f1;
}

.stylish .stylish-heading:after
{
    display: block;
    bottom: -25px;
    content: " ";
    width: 126px;
    height: 2px;
    border: 2px solid #0bb890;
    margin: 25px auto;
}

.stylish p
{
    color: #e4e4e4;
    margin-bottom: 50px;
}

.stylish button
{
    background-color: #0bb890;
    border: 1px solid #0bb890;
    padding: 7px 20px;
    border-radius: 3px;
    color: #fff;
}

.stylish button:hover
{
    background-color: #0aa17e;
    outline: none;
    border: 1px solid #0aa17e;
}



/* End Stylish */


/* Start Contact Us */

.contact
{
    padding: 60px;
}


.contact .contact-heading
{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.contact .contact-heading:after
{
    display: block;
    bottom: -25px;
    content: " ";
    width: 126px;
    height: 2px;
    border: 2px solid #0bb890;
    margin: 25px auto;
}

.contact form input,
.contact form textarea
{
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #f1f1f1;
}

.contact form textarea
{
    height: 131px;
}

.contact button
{
    background-color: #0bb890;
    border: 1px solid #0bb890;
    padding: 7px 20px;
    border-radius: 3px;
    color: #fff;
    display: block;
}

.contact button:hover
{
    background-color: #0aa17e;
    outline: none;
    border: 1px solid #0aa17e;
}


/* End Contact Us */


/* Start Footer */



footer
{
    background-color: #222;
    color: #f1f1f1;
    height: 100px;
}

footer ul
{
    margin-top: 30px;
}

footer ul li
{
    display: inline-block;
    margin-right: 25px;
}


footer ul li i
{
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


footer .fa-facebook:hover
{
    color: #3b5999
}

footer .fa-google-plus:hover
{
    color: #dd4b39
}

footer .fa-twitter:hover
{
    color: #55acee
}

footer .fa-pinterest-p:hover
{
    color: #bd081c
}


footer .fa-instagram:hover
{
    color: #e4405f
}



/* End Footer */

